<a href="https://colab.research.google.com/github/ArielCohen1995/ArielSharedRepo/blob/main/Final_SQL_Ex1_Corporate_Life.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Exercise 1 - Corporate Life

In this exercise, we will practice writing SQL queries using the [PyMySQL](https://pymysql.readthedocs.io/en/latest/) wrapper to analyze data about employees at a company.

Please submit your solution as a Jupyter Notebook. All logic should be executed using SQL; use Python only to wrap your SQL queries.

**Note:** This exercise may be run either locally or on Google Colab. If running on Colab, take care to follow the Colab-specific instructions.

**Colab Setup (optional)**

If you are running this exercise on Google Colab, run the code cells below to set up MySQL on your Colab instance. **Note:** This creates a default MySQL user with username and password 'root'.

In [7]:
### CODE FOR COLAB (installing MySQL and starting MySQL service) ###
! apt-get update
! apt-get -y install mysql-server > /dev/null # (takes about a minute to execute)
! service mysql start
! mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'Arielou95!'"

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:5 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:9 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [98.9 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [992 kB]
Get:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,189 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,554 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,267 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [3,035 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,121 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,332 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,472 kB]
Fetched 16.4 MB in 4s (4,145 kB/s)
Reading package lists... Done
 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.

In [8]:
### CODE FOR COLAB (check MySQL service status)
! service mysql status
# If this shows that MySQL is running, you are good!

 * /usr/bin/mysqladmin  Ver 8.42 Distrib 5.7.40, for Linux on x86_64
Copyright (c) 2000, 2022, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		5.7.40-0ubuntu0.18.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			10 sec

Threads: 1  Questions: 11  Slow queries: 0  Opens: 107  Flush tables: 1  Open tables: 100  Queries per second avg: 1.100

**Questions (getting started):**
1. Download the `pymysql` Python library with `pip install pymysql`. Import the library and display the version being used with `pymysql.__version__`.
2. Download the [MySQL employees sample database](https://dev.mysql.com/doc/employee/en/employees-installation.html). If you are on Google Colab, you may use the code provided below.
3. Using `pymysql.connect()` and your MySQL credentials (in Colab: username and password both `root`), create a PyMySQL connection object called `connection` that is connected to the `employees` database. See the [PyMySQL README](https://github.com/PyMySQL/PyMySQL) for syntax.
  **Caution**: Do not share secret passwords in your submission file. If you are working locally and using a secret password, erase it in your submission or use a configuration file / environment variable to access it in your code.

4. Using `connection`, find the following using SQL commands:
  * The version of MySQL being used (Hint: `SELECT VERSION()`)
  * A list of databases in the sample data
  * A list of tables in the `employees` database

In [9]:
#1
! pip install pymysql
import pymysql 
print(pymysql.__version__)


#2
! git clone https://github.com/datacharmer/test_db.git
#!rm -rf /content/test_db
%cd /content/test_db
#! mysql -u root -p

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
1.0.2
Cloning into 'test_db'...
remote: Enumerating objects: 120, done.
remote: Counting objects: 100% (49/49), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 120 (delta 40), reused 41 (delta 38), pack-reused 71
Receiving objects: 100% (120/120), 74.27 MiB | 21.29 MiB/s, done.
Resolving deltas: 100% (62/62), done.
Checking out files: 100% (25/25), done.
/content/test_db

In [2]:
#3
%cd /content/test_db
import pymysql 
connection = pymysql.connect(user='root', password='Arielou95!', host ='localhost')

#4
cur = connection.cursor()
cur.execute("SELECT VERSION()")
output = cur.fetchall()
print(output[0])

! cd /content/test_db
#! mysql -u root -p

cur.execute("SHOW DATABASES")
output = cur.fetchall()
print(output)

cur.execute("SHOW tables in employees")
output = cur.fetchall()
print(output)

/content/test_db
('5.7.40-0ubuntu0.18.04.1',)
(('information_schema',), ('employees',), ('mysql',), ('performance_schema',), ('sys',))
(('current_dept_emp',), ('departments',), ('dept_emp',), ('dept_emp_latest_date',), ('dept_manager',), ('employees',), ('salaries',), ('titles',))

**Questions: (SQL queries - names and ages)**
5. Get a list of full names of all female employees ordered by age (older to younger). Print out the first 10.
1. Get the full name and age (in years without decimal points) of all employees. Print out 10 of them.
1. Print the full name of one of the employees with the longest first name. (There are multiple correct answers, just print out one of them.)
1. Get a list of the full names of all employees with the letter ‘z’ second to last in their last name. Print out 10 of them.
1. Get a list of the full name of all employees where their full name is exactly 10 characters (including a space between the first and last name). Print out 10 of them.

In [17]:
#5
%cd /content/test_db
import pymysql 
connection = pymysql.connect(user='root', password='Arielou95!', host ='localhost')
cur = connection.cursor()

cur.execute("USE employees")
output = cur.fetchall()
print(output)

cur.execute("SELECT CONCAT(first_name,' ', last_name) as full_name FROM employees WHERE gender ='F' ORDER BY birth_date desc LIMIT 10")
output = cur.fetchall()
print(output)

#6 
cur.execute("SELECT CONCAT(first_name,' ', last_name) as full_name, (YEAR(date(now())) - YEAR(birth_date)) as age from employees LIMIT 10")
output = cur.fetchall()
print(output)

#7
cur.execute("SELECT CONCAT(first_name,' ', last_name) as full_name from employees ORDER BY length(first_name) desc LIMIT 1")
output = cur.fetchall()
print(output)

#8
cur.execute("SELECT CONCAT(first_name,' ', last_name) as full_name from employees WHERE substr(last_name, length(last_name)-1 ,1) = 'z' LIMIT 10")
output = cur.fetchall()
print(output)

#9
cur.execute("SELECT CONCAT(first_name,' ', last_name) as full_name from employees WHERE length(first_name) + length(last_name) + 1 = 10 LIMIT 10")
output = cur.fetchall()
print(output)

/content/test_db
()
(('Magdalena Penn',), ('Jaewon Thummel',), ('Mizuhito Kobara',), ('Gopalakrishnan Angel',), ('Shay Servieres',), ('Arie Coullard',), ('Deniz Thibadeau',), ('Surveyors Bade',), ('Zhonghua Snyers',), ('Badri Schapire',))
(('Georgi Facello', 69), ('Bezalel Simmel', 58), ('Parto Bamford', 63), ('Chirstian Koblick', 68), ('Kyoichi Maliniak', 67), ('Anneke Preusig', 69), ('Tzvetan Zielinski', 65), ('Saniya Kalloufi', 64), ('Sumant Peac', 70), ('Duangkaew Piveteau', 59))
(('Gopalakrishnan Unno',),)
(('Yolla Ellozy',), ('Morrie Piazza',), ('Danel Impagliazzo',), ('Susanna Brizzi',), ('Poorav Ranze',), ('Paddy Brizzi',), ('Manton Collavizza',), ('Freyja Brizzi',), ('Tonny Impagliazzo',), ('Lakshmi Demizu',))
(('Mary Sluis',), ('Ramzi Erde',), ('Arif Merlo',), ('Bader Swan',), ('Huan Lortz',), ('Uri Lenart',), ('Tse Herber',), ('Udi Jansch',), ('Mona Azuma',), ('Hugo Rosis',))

**Questions: (SQL queries - positions and salaries)**

10. Print all possible titles (each title only once).
1. Print the full name of all department managers.
1. Get a list of the each employee whose first name starts with ‘A’ and last name ends with ‘z’, and the maximum salary for each such employee. Print out 10 of them. Hint: Use a join on the `employees` and `salaries` tables.
1. For each department print the department name and number of current employees. Hint: Use the `departments` and `current_dept_emp` tables.
1. For each department print the department name and number of department managers.
1. Print the full name and salary of the 10 highest paid employees. Use the maximum salary value that appears for each employee in the `salaries` table.
1. Print a list of each year in the dataset and the average salary of all employees for that year. Hint: use the `from_date` field.
1. For each department get the department name and full name of all employees who left the department in 1997. Print out 10 such employees and the departments they left.
1. Get a list of the full name and number of titles for each employee who had at least three different titles. Print out 10 of them.

In [18]:
#10
%cd /content/test_db
import pymysql 
connection = pymysql.connect(user='root', password='Arielou95!', host ='localhost')
cur = connection.cursor()

cur.execute("USE employees")
output = cur.fetchall()
print(output)

cur.execute("SELECT distinct(title) FROM titles")
output = cur.fetchall()
print(output)

#11
cur.execute("SELECT CONCAT(first_name,' ', last_name) as full_name from employees left join titles on employees.emp_no = titles.emp_no WHERE title = 'Manager'")
output = cur.fetchall()
print(output)

#12
cur.execute("SELECT * FROM employees left join (SELECT emp_no, max(salary) FROM salaries group by emp_no) new_salaries on employees.emp_no = new_salaries.emp_no WHERE first_name like 'A%' and last_name like '%z'")
output = cur.fetchall()
print(output)

#13
cur.execute("SELECT departments.dept_name, count(employees.emp_no) FROM departments, current_dept_emp, employees WHERE departments.dept_no = current_dept_emp.dept_no AND employees.emp_no = current_dept_emp.emp_no AND current_dept_emp.to_date ='9999-01-01' GROUP BY departments.dept_name")
output = cur.fetchall()
print(output)

#14
cur.execute("SELECT departments.dept_name, count(employees.emp_no) FROM departments, current_dept_emp, titles, employees WHERE departments.dept_no = current_dept_emp.dept_no AND employees.emp_no = current_dept_emp.emp_no AND titles.emp_no = current_dept_emp.emp_no AND current_dept_emp.to_date ='9999-01-01' AND title ='Manager' GROUP BY departments.dept_name")
output = cur.fetchall()
print(output)

#15
cur.execute("SELECT departments.dept_name, count(employees.emp_no) FROM departments, current_dept_emp, titles, employees WHERE departments.dept_no = current_dept_emp.dept_no AND employees.emp_no = current_dept_emp.emp_no AND titles.emp_no = current_dept_emp.emp_no AND current_dept_emp.to_date ='9999-01-01' AND title ='Manager' GROUP BY departments.dept_name")
output = cur.fetchall()
print(output)

#16
cur.execute("SELECT CONCAT(first_name,' ', last_name) as full_name, sal FROM employees left join (SELECT emp_no, max(salary) as sal FROM salaries group by emp_no) new_salaries on employees.emp_no = new_salaries.emp_no ORDER BY new_salaries.sal desc LIMIT 10")
output = cur.fetchall()
print(output)

#17
cur.execute("SELECT dept_name as Department_Left, CONCAT(first_name,' ', last_name) as full_name FROM departments, current_dept_emp, employees WHERE departments.dept_no = current_dept_emp.dept_no AND employees.emp_no = current_dept_emp.emp_no AND current_dept_emp.to_date like '1997%' LIMIT 10;")
output = cur.fetchall()
print(output)

#18
cur.execute("SELECT CONCAT(first_name,' ', last_name) as full_name, count(titles.title) from titles left join employees on titles.emp_no = employees.emp_no GROUP BY CONCAT(first_name,' ', last_name) HAVING count(titles.title) > 2 LIMIT 10")
output = cur.fetchall()
print(output)

/content/test_db
()
(('Assistant Engineer',), ('Senior Staff',), ('Engineer',), ('Staff',), ('Technique Leader',), ('Senior Engineer',), ('Manager',))
(('Margareta Markovitch',), ('Ebru Alpin',), ('Shirish Ossenbruggen',), ('Krassimir Wegerle',), ('DeForest Hagimont',), ('Peternela Onuegbe',), ('Przemyslawa Kaelbling',), ('Arie Staelin',), ('Tonny Butterworth',), ('Rosine Cools',), ('Marjo Giarratana',), ('Isamu Legleitner',), ('Rutger Hofmeyr',), ('Vishwani Minakawa',), ('Sanjoy Quadeer',), ('Hauke Zhang',), ('Hilary Kambil',), ('Karsten Sigstam',), ('Shem Kieras',), ('Leon DasSarma',), ('Xiaobin Spinelli',), ('Dung Pesch',), ('Oscar Ghazalie',), ('Yuchang Weedman',))